# Importing Libraries

In [1]:
import pandas as pd
from openpyxl import load_workbook
import datetime

# Loading the data

In [2]:
data = pd.read_excel('Final Lead Data.xlsx')

In [3]:
data

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,04/27/2022 01:41:38 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,04/22/2022 04:08:38 pm,NaN,Lords Universal College,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,04/16/2022 10:31:59 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,04/13/2022 10:05:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,03/26/2022 07:02:48 pm,NaN,B.k Birla college,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5298,25834,Pratik,pratik@xyz.com,NaN,NaN,10/16/2019 10:19:42 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5299,25832,Nikita,nikita@xyz.com,NaN,NaN,10/16/2019 10:19:41 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5300,25830,Ashwini,ashwini@xyz.com,NaN,NaN,10/16/2019 10:19:10 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,Other
5301,25828,Jheanna Mae,jheannamae@xyz.com,NaN,NaN,10/16/2019 10:19:08 am,NaN,"Don Bosco College of Engineering, Fatorda, Margao",Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5302,25826,Krishna,krishna@xyz.com,NaN,NaN,10/16/2019 10:19:06 am,NaN,Don Bosco College Of Engineering,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN

# Cleaning the data using emails

In [4]:
data = data.drop_duplicates(subset=["Email"])

In [5]:
data

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,04/27/2022 01:41:38 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,04/22/2022 04:08:38 pm,NaN,Lords Universal College,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,04/16/2022 10:31:59 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,04/13/2022 10:05:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,03/26/2022 07:02:48 pm,NaN,B.k Birla college,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5250,25940,vraj,vraj@xyz.com,NaN,NaN,10/18/2019 01:03:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5255,25920,Hemil,hemil@xyz.com,NaN,NaN,10/16/2019 01:37:18 pm,NaN,Don Bosco College of Engineering,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5256,25918,Shitij,shitij@xyz.com,NaN,NaN,10/16/2019 01:35:50 pm,NaN,Don Bosco College Of Engineering Goa,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5258,25914,dirgh,dirgh@xyz.com,NaN,NaN,10/16/2019 11:28:11 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5260,25910,UTkarsha,utkarsha@xyz.com,NaN,NaN,10/16/2019 10:22:55 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN

# Creating deep copies of your dataframe

In [6]:
import copy
data_backup = copy.deepcopy(data)

In [7]:
data_backup

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,04/27/2022 01:41:38 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,04/22/2022 04:08:38 pm,NaN,Lords Universal College,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,04/16/2022 10:31:59 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,04/13/2022 10:05:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,03/26/2022 07:02:48 pm,NaN,B.k Birla college,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5250,25940,vraj,vraj@xyz.com,NaN,NaN,10/18/2019 01:03:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5255,25920,Hemil,hemil@xyz.com,NaN,NaN,10/16/2019 01:37:18 pm,NaN,Don Bosco College of Engineering,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5256,25918,Shitij,shitij@xyz.com,NaN,NaN,10/16/2019 01:35:50 pm,NaN,Don Bosco College Of Engineering Goa,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5258,25914,dirgh,dirgh@xyz.com,NaN,NaN,10/16/2019 11:28:11 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5260,25910,UTkarsha,utkarsha@xyz.com,NaN,NaN,10/16/2019 10:22:55 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN

# Selecting only useful columns

In [8]:
useful_columns = ["New College Name", "Academic Year",
                  "What is your current academic year?"
                 ]

data = data[useful_columns]

In [9]:
data

,New College Name,Academic Year,What is your current academic year?
0,NaN,NaN,NaN
1,Lords Universal College,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,B.k Birla college,NaN,NaN
...,...,...,...
5250,NaN,NaN,NaN
5255,Don Bosco College of Engineering,3.0,NaN
5256,Don Bosco College Of Engineering Goa,3.0,NaN
5258,NaN,NaN,NaN
5260,NaN,NaN,NaN

# defining a function to convert academic years to graduation years

In [10]:
def calculate_graduation_year(academic_year):
    current_year = datetime.datetime.now().year
    try:
        academic_year = int(academic_year)
        graduation_year = current_year + 4 - academic_year
        return graduation_year
    except ValueError:
        return None

# Applying the function to create a new column 'Graduation Year'

In [11]:
data['Graduation Year'] = data['Academic Year'].apply(calculate_graduation_year)

C:\Users\Public\Documents\iSkysoft\CreatorTemp\ipykernel_12592\2259321178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Graduation Year'] = data['Academic Year'].apply(calculate_graduation_year)

# Selecting desired columns from the additional data

In [12]:
data_backup = data_backup[['ID', 'First Name', 'Email']]

# Concatenating them without a common column

In [13]:
merged_data = pd.concat([data_backup, data], axis=1)

# Saving the merged data to a new Excel file

In [14]:
merged_data.to_excel('Calculation for Year of Graduation.xlsx', index=False, engine='openpyxl')